# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
gnn-env/
env/
venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints

# Outputs and results
results/
output.png

# PyTorch geometric build artifacts
*.so
